doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="author" content="Vuong Tran")
        meta(name="description" content="The Sun Web.")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="assets/icons/favicon-32x32.png" type="image/x-icon")
        title Structure Folder
        link(rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="assets/css/styles.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    body
        block header
        block main
        block footer
        script(src="assets/bootstrap/js/jquery-3.5.1.slim.min.js")
        script(src="assets/bootstrap/js/popper.min.js")
        script(src="assets/bootstrap/js/bootstrap.min.js")
